<div class="page-header">
  <h1>
    <%= pluralize @sales.total_count, 'Sale' %>
    <%= link_to 'stats', params.merge(:action => 'stats') %>
  </h1>
</div>

<div class="row">
  <div class="span4">
    <%- if @average && @minimum && @maximum && @sum -%>
      <dl class="dl-horizontal">
        <dt><strong>average:</strong></dt>
        <dd>&euro;<%= number_with_delimiter @average %></dd>
        <dt><strong>min:</strong></dt>
        <dd>&euro;<%= number_with_delimiter @minimum %></dd>
        <dt><strong>max:</strong></dt>
        <dd>&euro;<%= number_with_delimiter @maximum %></dd>
        <dt><strong>total:</strong></dt>
        <dd>&euro;<%= number_with_delimiter @sum %></dd>
      </dl>
    <%- end -%>
  </div>

  <div class="span4">
    <%= form_tag params, :method => 'get', :class => 'autoSubmit' do -%>

      <div class="control-group">
        <%= label_tag 'county', nil, :class => 'control-label' %>
        <div class="controls">
          <%= select_tag "county", options_from_collection_for_select(Sale.select(:county).uniq.sort, "county", "county"), :include_blank => true %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag 'address', nil, :class => 'control-label' %>
        <div class="controls">
          <%= text_field_tag :address, params[:address], :class => 'text_field' %>
        </div>
      </div>

    <%- end -%>
  </div>

  <%= render :partial => 'filters', :locals => {:filters => @filters} %>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <%= order_by_link('date') %>
      </th>
      <th>address</th>
      <th>postal_code</th>
      <th>
        <%= order_by_link('county') %>
      </th>
      <th>
        <%= order_by_link('price') %>
      </th>
      <th>
        <%= order_by_link('full_market_price') %>
      </th>
      <th>description</th>
      <th>size_description</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.date.strftime("%Y/%m/%d") %></td>
        <td>
          <%- fragments = sale.address.split(',') -%>
          <%- fragments.each_with_index do |address_fragment, index| -%>
            <%= address_fragment_link(address_fragment) %>
            <%= ',' if fragments[index+1] %>
          <%- end -%>
        </td>
        <td><%= filter_link(sale, :postal_code) %></td>
        <td><%= filter_link(sale, :county) %></td>
        <td>&euro;<%= number_with_delimiter sale.price %></td>
        <td><%= sale.full_market_price %></td>
        <td><%= filter_link(sale, :description) %></td>
        <td><%= filter_link(sale, :size_description) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sales %>

