<div class="page-header">
  <h1>
    <%= pluralize @sales.total_count, 'Sale' %>
  </h1>
</div>

<%- unless params[:county] -%>
  <%= form_tag params, :method => 'get', :class => 'autoSubmit' do -%>
    <%= label_tag 'county' %>
    <%= select_tag "county", options_from_collection_for_select(Sale.select(:county).uniq, "county", "county"), :include_blank => true %>
  <%- end -%>
<%- end -%>


<%- if @filters.present? -%>
  <h2>Filters:</h2>
  <ul>
    <%- @filters.each do |filter_name, filter_value| -%>
      <li>
        <%= filter_name %>
        -
        <%= filter_value %>
        <%= link_to 'remove', params.merge(filter_name => nil) %>
      </li>
    <%- end -%>
  </ul>
<%- end -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <%= order_by_link('date') %>
      </th>
      <th>address</th>
      <th>postal_code</th>
      <th>
        <%= order_by_link('county') %>
      </th>
      <th>
        <%= order_by_link('price') %>
      </th>
      <th>
        <%= order_by_link('full_market_price') %>
      </th>
      <th>description</th>
      <th>size_description</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.date.strftime("%Y/%m/%d") %></td>
        <td><%= sale.address %></td>
        <td><%= filter_link(sale, :postal_code) %></td>
        <td><%= filter_link(sale, :county) %></td>
        <td>&euro;<%= number_with_delimiter sale.price %></td>
        <td><%= sale.full_market_price %></td>
        <td><%= filter_link(sale, :description) %></td>
        <td><%= filter_link(sale, :size_description) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sales %>

