<div class="page-header">
  <h1>Sales</h1>
</div>
<%- if @filters.present? -%>
  <ul>
    <%- @filters.each do |filter_name, filter_value| -%>
      <li>
        <%= filter_name %>
        -
        <%= filter_value %>
        <%= link_to 'remove', params.merge(filter_name => nil) %>
      </li>
    <%- end -%>
  </ul>
<%- end -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <%= order_by_link('date') %>
      </th>
      <th>address</th>
      <th>postal_code</th>
      <th>
        <%= order_by_link('county') %>
      </th>
      <th>
        <%= order_by_link('price') %>
      </th>
      <th>
        <%= order_by_link('full_market_price') %>
      </th>
      <th>description</th>
      <th>size_description</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.date.strftime("%Y/%m/%d") %></td>
        <td><%= sale.address %></td>
        <td><%= filter_link(sale, :postal_code) %></td>
        <td><%= filter_link(sale, :county) %></td>
        <td><%= sale.price %></td>
        <td><%= sale.full_market_price %></td>
        <td><%= filter_link(sale, :description) %></td>
        <td><%= filter_link(sale, :size_description) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sales %>

