<div class="page-header">
  <h1>Sales</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <%= order_by_link('date') %>
      </th>
      <th>address</th>
      <th>postal_code</th>
      <th>
        <%= order_by_link('county') %>
      </th>
      <th>
        <%= order_by_link('price') %>
      </th>
      <th>
        <%= order_by_link('full_market_price') %>
      </th>
      <th>description</th>
      <th>size_description</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.date.strftime("%Y/%m/%d") %></td>
        <td><%= sale.address %></td>
        <td><%= sale.postal_code %></td>
        <td><%= sale.county %></td>
        <td><%= sale.price %></td>
        <td><%= sale.full_market_price %></td>
        <td><%= sale.description %></td>
        <td><%= sale.size_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sales %>

