<div class="page-header">
  <h1>
    Stats for
    <%= pluralize @sales.count, 'Sale' %>
  </h1>
</div>

<div class="row">
  <div class="span4">
    <p>Bear in mind thet these statistics are based off raw data, which contains errors. Also, if you filter down too tightly the statistics become meaningless.</p>
  </div>

  <%= render :partial => 'filter_form' %>
  <%= render :partial => 'filters', :locals => {:filters => @filters} %>

</div>

<dl>
  <%- [:transaction_count, :sum, :average, :median].each do |attribute| -%>
    <dt>
      <%= stat_explanation attribute %>
    </dt>

    <dd>
      <%= sparkline_image(@sales_stats.collect { |month| month[attribute] }) %>
    </dd>
  <%- end -%>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th>month</th>
      <th>#sales</th>
      <th>sum</th>
      <th>average</th>
      <th>median</th>
      <th>minimum</th>
      <th>maximum</th>
      <th>range</th>
      <th>standard_deviation</th>
    </tr>
  </thead>
  <tbody>
    <%- @months.each_with_index do |month, index| -%>
      <tr>
        <td>
          <%= month.begin.strftime('%B %Y') %>
        </td>
        <td>
          <%= @sales_stats[index][:transaction_count] %>
        </td>
        <td>
          &euro;<%= number_with_delimiter @sales_stats[index][:sum] %>
        </td>
        <td>
          &euro;<%= number_with_delimiter @sales_stats[index][:average] %>
        </td>
        <td>
          &euro;<%= number_with_delimiter @sales_stats[index][:median] %>
        </td>
        <td>
          &euro;<%= number_with_delimiter @sales_stats[index][:minimum] %>
        </td>
        <td>
          &euro;<%= number_with_delimiter @sales_stats[index][:maximum] %>
        </td>
        <td>
          &euro;<%= number_with_delimiter @sales_stats[index][:range] %>
        </td>
        <td>
          &euro;<%= number_with_delimiter @sales_stats[index][:standard_deviation] %>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

